.main_profile_div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main_profile_div button {
  width: max-content;
  height: max-content;
  padding: 5px;
  background-color: transparent;
  border: none;
  background-color: #a5a5a5;
  border-radius: 10px;
}
.main_profile_div button:active {
  background-color: #5a5a5a;
}

.modul_div {
  margin-top: 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ccc;

  border-radius: 20px;
  width: 33vw;
  height: 30vh;
}
.auth_div {
  display: flex;
  flex-direction: column;
}
.auth_div_choose {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.auth_div_choose button {
  font-size: 2.5vh;
  transition: all 0.2s;
}
.auth_div_choose button:hover {
  transition: all 0.2s;
  cursor: pointer;

  background-color: #8a8a8a;
}
.login_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #a5a5a5;
  border-radius: 20px;
  padding: 10px;
}
.login_div input {
  margin-top: 5px;
  border-radius: 10px;
  padding: 5px;
}
.login_div button {
  transition: all 0.2s;
  width: 40%;
  margin-top: 10px;
  background-color: #8a8a8a;
  cursor: pointer;
}
.login_div button:hover {
  transition: all 0.2s;
  background-color: #747474;
}
.register_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #a5a5a5;
  border-radius: 20px;
  padding: 10px;
}
.register_div input {
  margin-top: 5px;
  border-radius: 10px;
  padding: 5px;
  border: 1px solid #747474;
  outline: 0;
}
.register_div input:focus {
  background: #d3d3d3;
}
.register_div button {
  transition: all 0.2s;
  width: 40%;
  margin-top: 10px;
  background-color: #8a8a8a;
  cursor: pointer;
}
.register_div button:hover {
  transition: all 0.2s;
  background-color: #747474;
}
#uploadButton {
  height: max-content;
  width: max-content;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 15px;
}

#uploadButton:hover {
  background-color: #45a049;
}
.forUser_div {
  width: max-content;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 5px;
}
.forUser_exit {
  
  display: flex;
flex-direction: column;
  justify-content: center;
  background-color: #ccc;
  border-radius: 20px;
  width: 33vw;
  height: 30vh;
}
.voted_sets_div{
  padding-left: 15px;
  overflow-y: scroll;
  max-height: 70%;
}
.forUser_exit_small {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  padding-top: 10px;
}
.forUser_create {
  background-color: #ccc;
  border-radius: 20px;
  width: 33vw;
  height: 30vh;
}
.forUser_create_small {
  padding-left: 10px;
  padding-top: 10px;
}
.forUser_create_small_mySets {
  display: flex;
  flex-direction: column;
  height: 200px;
  overflow: auto;
}

.forUser_create_small_mySets_set {
  width: 95%;
  height: max-content;
  display: flex;
  align-items: center;
  border: 1px solid greenyellow;
  transition: all 0.5s;
}
.forUser_create_small_mySets_set_svg {
  display: flex;
  flex-direction: row;
  justify-content: left;
  /* border-right: 1px solid black;
  border-left:1px solid black ; */
  width: 0px;
  transition: all 0.5s;
  
  position: relative;
}
.trashdiv{
  transition: all 0.6s;
}
.trash {
  background-color: rgba(255, 0, 0, 0.171) !important;
  position: absolute;
  color: transparent;
  transform: translateX(21%) translateY(-50%);
  z-index: 5;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: all 0.3s;
}
.trash1 {
  position: absolute;
  z-index: 4;
  transform: translateX(50%) translateY(-50%);
  transition: all 0.3s;
}
.nodiv{
  transition: all 0.3s;
}
.no {
 
  width: 30px;
  height: 30px;
  color: transparent;
  background-color: rgba(255, 0, 0, 0) !important;
  display: none;
  position: absolute;
  transform: translateX(0%) translateY(-30%);
 
  z-index: 3;
  transition: all 0.4s;
}
.no1{
  display: none;
  color: rgb(0, 177, 0);
  position: absolute;
  z-index: 2;

  /* transform: translateX(130%) translateY(-30%); */
  transition: all 0.3s;
}
.yes {
  color: rgb(211, 50, 50);
  display: none;
  margin-left: 5px;
  transition: all 0.2s;
  
}
.yes1{
  color: transparent;
  background-color: rgba(38, 145, 28, 0) !important;
  cursor: pointer;
  position: absolute;
  transition: all 0.3s;
  transform: translateX(40%) translateY(-50%);
}
.yes:hover{
  cursor: pointer;

  color: rgb(167, 0, 0);
  transition: all 0.2s;

}
.no:hover {
  cursor: pointer;
 
  transition: all 0.2s;

}
.create_small_mySets_set_p{
  width: 60%;
}
.forUser_create_small_mySets_set_link_div{
  display: flex;
  width: 20%;
}
.create_small_mySets_set_img {
  width: 100%;
}
.forUser_change {
  background-color: #ccc;
  border-radius: 20px;
  display: flex;
  justify-content: center;

  width: 33vw;
  height: 30vh;
}
.forUser_change_small {
  padding-left: 10px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}
.forUser_change p {
  color: #2b2b2b;
}
