.top_frame{
    display: flex;
    flex-direction: row;
}
.top_frame_label{
    margin-left: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
  }
  .top_frame_label input{
    margin-top: 10px;
    margin-right: 5px;
  
  }
  .input_gank[type='checkbox']:checked{
    transition: all 0.3s;
    background-color: rgb(192, 105, 105) !important; 
    border-color: rgb(124, 42, 42) !important; 
  }
  .input_mist[type='checkbox']:checked{
    transition: all 0.3s;
    background-color: rgb(157, 105, 192) !important; 
    border-color: rgb(91, 42, 124) !important; 
  }
  .input_PVE[type='checkbox']:checked{
    transition: all 0.3s;
    background-color: rgb(105, 192, 105) !important; 
    border-color: rgb(42, 124, 42) !important; 
  }
  .input_CD[type='checkbox']:checked{
    transition: all 0.3s;
    background-color: rgb(192, 154, 105) !important; 
    border-color: rgb(124, 98, 42) !important; 
  }
  .top_frame_label input[type='checkbox']{
    appearance: none; 
    width: 16px; /* Размер чекбокса (вы можете настроить под свои требования) */
    height: 16px;
    border-radius: 10%;
     /* Делаем квадрат круглым */
    border: 2px solid #333; /* Цвет обводки чекбокса */
    background-color: transparent; /* Прозрачный фон чекбокса */
    cursor: pointer; /* Задаем курсор при наведении */
    margin-right: 5px; 
    transition: all 0.3s;
    ;
  }
  .top_frame_label input[type="checkbox"]:checked {
    transition: all 0.3s;
    border-radius: 50%;
    background-color: rgb(76, 124, 76); /* Цвет фона при выборе (вы можете настроить под свои требования) */
    border-color: #4caf50; /* Цвет обводки при выборе */
  }
.top_frame input{
    background: transparent;
    outline: 0;
    border: 0;
}

.main_main_frame{
margin-top: 10px;
}

.main_frame{
    background-color: rgb(90, 92, 91);
    display: grid;
    grid-template-columns: repeat(3, minmax(20px, auto)); 


   
}
.set_main{
  text-decoration: none;
    margin-top: 2px;
    margin-right: 10px;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
}
.set_main h1{
  font-size: 24px;
  text-decoration: none;
}
.desc_div_small{
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  height: 40px;
  max-width: inherit;
  /* overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2; /* Ограничение до двух строк */
}
.set_frame{
    
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
}
.img_part{
    width: 100%;
}

.anim_loader {
  /* position: absolute; */
  margin-left: 200px;
  padding-left: 200px;
  animation: rotate 1s infinite;
  height: 200px;
  width: 200px;
}

.anim_loader:before,
.anim_loader:after {
  border-radius: 50%;
  content: "";
  display: block;
  height: 20px;
  width: 20px;
}
.anim_loader:before {
  animation: ball1 1s infinite;
  background-color: #fff;
  box-shadow: 30px 0 0 #7620a8;
  margin-bottom: 10px;
}
.anim_loader:after {
  animation: ball2 1s infinite;
  background-color: #7620a8;
  box-shadow: 30px 0 0 #fff;
}

@keyframes rotate {
  0% { transform: rotate(0deg) scale(0.8) }
  50% { transform: rotate(360deg) scale(1.2) }
  100% { transform: rotate(720deg) scale(0.8) }
}

@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 #7620a8;
  }
  50% {
    box-shadow: 0 0 0 #7620a8;
    margin-bottom: 0;
    transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #7620a8;
    margin-bottom: 10px;
  }
}

@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 #fff;
  }
  50% {
    box-shadow: 0 0 0 #fff;
    margin-top: -20px;
    transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #fff;
    margin-top: 0;
  }
}

.pagination_div{
  background-color:rgb(90, 92, 91);
  padding-left: 10px;
  padding-bottom: 200px;
  display: flex;
  flex-direction: row;
}
.pagination_div p{
  margin-right:7px;
  font-size: large;
}
.page_p1{
  color: #fff;
}
.chat_div{
  font-size: small;
  position: fixed;
  bottom: 100px;
  right: 10px;
  width:210px;
  height:300px;
  background-color: #a5a59c;
  padding: 12px;
  border-radius: 10px;
  box-shadow: 0px 10px 20px rgba(117, 114, 92, 0.534);
  transition: all 0.2s;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.chat_div_esc_div{
  display: flex;
  flex-direction: row;
  justify-content: right;
  width: 100%;
}
.chat_div_esc_div button{
width: 20px;
height: 20px;
cursor: pointer;
}
.chat_div_message_div{
  
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 100%;
  /* white-space: nowrap; */
}
.chat_send_div{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  
}
.chat_send_div button{
  width: fit-content;
  height: fit-content;
  padding-left: 8.5px;
  padding-right: 8.5px;
  padding-bottom: 4px;
  border: 1px solid #580679;
  border-radius: 50%;
  background-color: #FFFFFF;
  font-size: 24px;
  color: #580679;
  font-weight:900;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chat_send_div_textarea{
  padding-left: 2px;
  resize: none;
  width: 140px;
  font-size: smaller;
  overflow-y: hidden;
  height: 40px;
  max-height: 170px
}
.chat_icon{
  font-size: 30px;
  position: fixed;
  bottom: 100px;
  right: 10px;
  background-color: #fff;
  padding: 12px;
  border-radius: 30%;
  box-shadow: 0px 10px 20px rgba(117, 114, 92, 0.534);
  transition: all 0.2s;
  cursor: pointer;
}
.chat_icon:hover{
 transition: all 0.2s;
  background-color: #aef1f1;
 
  border-radius: 35%;
  box-shadow: 0px 10px 20px rgba(13, 80, 119, 0.534);
}
.message_nick{
  padding-left:3px;
 
}
.message_user_div{
  display:flex;
  
}
.chat_div_message_div_content{
  border-bottom: 1px solid rgba(0, 0, 0, 0.205);
}